- for more information -> https://data.calgary.ca/Environment/Solar-Energy-Production/ytdn-2qsp
- API docs -> https://dev.socrata.com/foundry/data.calgary.ca/ytdn-2qsp

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("https://data.calgary.ca/resource/ytdn-2qsp.json")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1000 non-null   object
 1   id                1000 non-null   int64
 2   address           1000 non-null   object
 3   date              1000 non-null   datetime64[ns]
 4   kwh               1000 non-null   float64
 5   public_url        1000 non-null   object
 6   installationdate  1000 non-null   object
 7   uid               1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 62.6+ KB

In [3]:
df.head()

,name,id,address,date,kwh,public_url,installationdate,uid
0,Southland Leisure Centre,164440,2000 SOUTHLAND DR SW,2015-09-01 14:30:00,27.805270,https://monitoring.solaredge.com/solaredge-web...,2015-09-01T00:00:00.000,1644402015-09-01 14:30:00
1,Southland Leisure Centre,164440,2000 SOUTHLAND DR SW,2015-09-01 15:30:00,30.558988,https://monitoring.solaredge.com/solaredge-web...,2015-09-01T00:00:00.000,1644402015-09-01 15:30:00
2,Southland Leisure Centre,164440,2000 SOUTHLAND DR SW,2015-09-01 16:30:00,23.613203,https://monitoring.solaredge.com/solaredge-web...,2015-09-01T00:00:00.000,1644402015-09-01 16:30:00
3,Southland Leisure Centre,164440,2000 SOUTHLAND DR SW,2015-09-01 17:30:00,15.257482,https://monitoring.solaredge.com/solaredge-web...,2015-09-01T00:00:00.000,1644402015-09-01 17:30:00
4,Southland Leisure Centre,164440,2000 SOUTHLAND DR SW,2015-09-01 18:30:00,7.895589,https://monitoring.solaredge.com/solaredge-web...,2015-09-01T00:00:00.000,1644402015-09-01 18:30:00